.task-form__container {
  width: 23vw;
  border-left: 10px solid #6b778c;
  padding: 2%;
  z-index: 2;
  background: #ffffff;
}

.task-form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.task-form-row > input {
  width: 12rem;
  border: 0;
  border-bottom: 1px solid #6b778c;
}

button {
  background: #6b778c;
  color: white;
  font-weight: bold;
}

button:hover,
button:active {
  background: #ffffff;
  color: #6b778c;
}
