.task {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.task-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20vw;
  text-align: center;
}

.task-section__status {
  text-transform: uppercase;
  width: 80%;
  color: #6b778c;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 2rem;
  border-bottom: 3px solid #6b778c;
  margin-bottom: 2rem;
}

.task-section__card {
  display: flex;
  width: 12rem;
  height: 10rem;
  border-left: 5px solid rgb(137, 185, 226);
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  overflow: scroll;
}
.task-section__card:hover {
  background: aliceblue;
}

.task-section__container {
  width: 14rem;
  height: 11rem;
  background: #c3cee0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.task-section__container:hover {
  background: #ffffff;
}

.task-section__card > h4 {
  color: #6b778c;
}
.task-section__card > p {
  font-size: 14px;
}

button {
  min-width: 5rem;
  height: 5rem;
  margin: 5rem;
  border-radius: 10px;
}

.backdrop {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #6b778c;
  opacity: 0.5;
  z-index: 1;
}
